/*
 * General
 */

/*
 * Font Gotham-Book
 */

@font-face {
	font-family: "Gotham";
	font-style: normal;
	src: url("./fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
	font-family: "Gotham";
	font-style: italic;
	src: url("./fonts/Gotham-BookItalic.otf") format("opentype");
}

@font-face {
	font-family: "Gotham";
	font-style: normal;
	font-weight: bold;
	src: url("./fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Gotham";
	font-style: italic;
	font-weight: bold;
	src: url("./fonts/Gotham-BoldItalic.otf") format("opentype");
}

body {
	background-image: url('img/bg.png');
	color: #000305;
	font-family: "Gotham", 'Avenir', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	clear: both;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #000305;
}

a:link, a:visited {
	color: #000305;
	text-decoration: none;
}

a:hover, a:active {
	color: #000305;
	text-decoration: none;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

.jodel content .emoji {
    width: 1.1em;
    height: 1.1em;
    padding: 0 0 0 0;
    vertical-align: -0.15em;
}

button, input, textarea {
	font-weight: 600;
	border: 1px solid white;
	border-radius: 5px;
	padding: 2px 10px;
	box-shadow: 0 1px 2px black;
}

select {
	cursor: pointer;
}

input[type="submit"], button {
	background-color: #6081a0;
	color: white;
	cursor: pointer;
}

input[type="submit"]:active, button:active {
	box-shadow: inset 0 1px 2px black;
}

/* Tooltip container */
.tip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tip .tiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%; 
}

.tip .tiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tiptext {
    visibility: visible;
}

.mainContent {
	line-height: 30px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	margin-bottom: 5rem;
	margin-top: 4.3rem;
}
.content {
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	margin-bottom: 15px;
}

.middleContent {
	float: left;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	background-color: #fff;
	margin-bottom: 15px;
}

.topContent {
	padding: 0;
}

/* Spinning Refresh Button */
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*
 * Header
 */

h1 {
	margin-top: 0.5rem;
	color: #fff;
	font-size: 1.3rem;
	float: left;
}

h1 i{
	padding: 0 0.5rem;
}

h1 a:link, h1 a:visited {
	color: #fff;
	line-height: 2rem;
}

.spinnable.selected i {
	-webkit-animation: fa-spin 2s infinite linear;
 	animation: fa-spin 2s infinite linear;
}

#comment-refresh:active {
	color: #fff;
}

#comment-refresh.selected i {
	-webkit-animation: fa-spin 2s infinite linear;
 	animation: fa-spin 2s infinite linear;
}

#comment-back {
	color: #fff;
	float: left;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: 1rem;
	margin-left: -1rem;
}

header .navbar {
	background-color: #5682a3;
	padding: 0px;
}

/* Jodels */
.jodel a {
	text-decoration: none;
	color: #fff;
}

.jodel a:visited {
	color: #5682a3;
}

.jodel a:hover, a:active {
	color:  #5682a3;
}

.jodel .comments a:visited {
	color: #fff;
}

.jodel .comments a:hover, .jodel .comments a:active {
	color:  #fff;
}

.jodel:target {
	background-clip: padding-box;
	border-top: 70px solid rgba(0, 0, 0, 0.0);
}

.jodel {
	padding: 1rem;
	color: #fff;
	margin-bottom: 0.5rem;
}

.jodel content {
	float: left;
	width: 90%;
	margin-bottom: 0.5rem;
	font-size: 1.7rem;
	word-wrap: break-word;
}

.jodel content img {
	width: 100%;
}

.jodel aside {
	float: right;
	width: 7%;
	min-width: 55px;
	font-size: 1.7rem;
	text-align: center;
	line-height: 15px;
	margin-top: -2rem;
}

.jodel footer table {
	width: 100%;
	table-layout: fixed;
}

.jodel footer table .comments{
	text-align: center;
}

.jodel .time {
	font-size: 150%;
	float: left;
}

.jodel .comments {
	font-size: 150%;
	margin: 0 auto;
}
.jodel .distance {
	font-size: 150%;
	float: right;
}

/*
 * Admin
 */

.adminpanel h2 {
	font-weight: 600;
}

.adminpanel label {
	color: #6081a0;
}

.adminpanel input, .adminpanel button {
	margin: 5px 0;
}

.adminpanel input[type="submit"].half, .adminpanel button.half {
	width: 115px;
	cursor: pointer;
}


.adminpanel progress {
	width: 235px;
}

.captchaWrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

input[type="checkbox"] {
	height: 30px;
	width: 30px;
}


/*
 * Sidebar
 */

h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.topSidebar .fixed{
	position: fixed;
	width: 365px;
	height: 80%;
	overflow-y: auto;
}

.topSidebar article {
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	padding: 1rem 1rem 2rem 1rem;
	margin-bottom: 1rem;
}

#location_mobile {
	padding: .67em 0em;
	overflow: auto;
}

#city_mobile {
	width: 100%;
}

#submit_mobile {
	display: none;
	visibility: hidden;
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#city {
	width: 100%;
	margin-bottom: 0.5rem;
}
#message {
	width: 100%;
	height: 8rem;
}

#postColorPicker {
	width: 100%;
	margin-bottom: 0.5rem;
}

#postColorPicker option[value="8ABDB0"] {
	background-color: #8ABDB0;
	height: 2rem;
}

#postColorPicker option[value="9EC41C"] {
	background-color: #9EC41C;
	height: 2rem;
}
#postColorPicker option[value="06A3CB"] {
	background-color: #06A3CB;
	height: 2rem;
}

#postColorPicker option[value="FFBA00"] {
	background-color: #FFBA00;
	height: 2rem;
}

#postColorPicker option[value="DD5F5F"] {
	background-color: #DD5F5F;
	height: 2rem;
}
#postColorPicker option[value="FF9908"] {
	background-color: #FF9908;
	height: 2rem;
}

#impressumText, #datenschutzText {
	margin: 3rem;
}

/* Footer Nav */

#sortJodelBy a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

#sortJodelBy {
	position: fixed;
	bottom: 0px;
	width: inherit;
	background-color: #fff;
	box-shadow: 0px -15px 10px 2px #5682a3;
	text-align: center;
}

#sortJodelBy nav a{
	line-height: 50.5px;
}

#sortJodelBy .active {
	color: #5682a3;
}

#sortJodelBy > div > div > div > a {
	display: block;
}

#sortJodelBy a:hover {
	color: #5682a3;
}

@media (max-width : 576px) {
    #sortJodelBy {
        width: 100%;
    }

    .jodel aside {
    	font-size: 1.3em;
    	min-width: 40px;
    	margin-top: -1rem;
    }

    .jodel content {
    	font-size: 1.3em;
    }

    .jodel .distance {
    	font-size: 1.3em;
    }

    .jodel .time {
    	font-size: 1.3em;
    }
}

@media  (min-width: 576px) {
	.topSidebar .fixed{
		position: fixed;
		width: 165px;
	}

	.jodel aside {
    	font-size: 1.3em;
    	min-width: 40px;
    	margin-top: -1rem;
    }

    .jodel content {
    	font-size: 1.3em;
    	width: 87%;
    }

    .jodel .distance {
    	font-size: 1.3em;
    }

    .jodel .time {
    	font-size: 1.3em;
    }
}

@media  (min-width: 768px) {
	.topSidebar .fixed{
		position: fixed;
		width: 225px;
	}

	.jodel content {
    	font-size: 1.3em;
    	width: 90%;
    }
}

@media  (min-width: 992px) {
	.topSidebar .fixed{
		position: fixed;
		width: 305px;
	}

	.jodel aside {
    	font-size: 1.7em;
    	min-width: 55px;
    	margin-top: -1.5rem;
    }

    .jodel content {
    	font-size: 1.7em;
    	width: 90%;
    }

    .jodel .distance {
    	font-size: 1.5em;
    }

    .jodel .time {
    	font-size: 1.5em;
    }

    .jodel .comments {
    	font-size: 1.5em;
    }
}

@media  (min-width: 1200px) {
	.topSidebar .fixed{
		position: fixed;
		width: 365px;
	}
}